<launch>
  <!-- <arg name="config_path" default="$(find wall_ground_plane_extractor_from_pointcloud)/config/plane_extraction_with_out_clustering_parameters/model_crane.yaml"/> -->
  <arg name="config_path" default="$(find wall_ground_plane_extractor_from_pointcloud)/config/plane_extraction_using_roi/kobelcko_2023.yaml"/>
  <!-- <arg name="config_path" default="$(find wall_ground_plane_extractor_from_pointcloud)/config/plane_extraction_with_out_clustering_parameters/gazebo_simple_wall_env.yaml"/> -->
  <!-- <arg name="config_path" default="$(find wall_ground_plane_extractor_from_pointcloud)/config/plane_extraction_with_out_clustering_parameters/gazebo_construction_env.yaml"/> -->

  <!-- <arg name="config_path" default="$(find wall_ground_plane_extractor_from_pointcloud)/config/plane_extraction_with_out_clustering_parameters/gazebo_simple_wall_env_noised.yaml"/> -->


  <!-- Load the parameters from the YAML file -->
  <rosparam command="load" file="$(arg config_path)"/>

  <!-- Launch the node with the loaded parameters -->
  <node pkg="wall_ground_plane_extractor_from_pointcloud" type="plane_extraction_using_selected_roi" name="plane_extraction_using_selected_roi" output="screen"/>
</launch>